<div class="container">

    <div align="center">

        <div class="card card-primary mb-3 contenedor">
          <div class="card-header bg-primary">Datos</div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
                <div class="form-group mb-3">
                    <label>Nombre</label>
                    <input
                      type="text"
                      formControlName="nombre"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
                    />
                    <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
                      <div *ngIf="f['nombre'].errors['required']">El nombre es requerido</div>
                    </div>
                </div>
          
                <div class="form-group mb-3">
                    <label>Dirección</label>
                    <input
                      type="text"
                      formControlName="direccion"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['direccion'].errors }"
                    />
                    <div *ngIf="submitted && f['direccion'].errors" class="invalid-feedback">
                      <div *ngIf="f['direccion'].errors['required']">El dirección es requerido</div>
                    </div>
                </div>
 
                <div class="form-group mb-3">
                    <label>Teléfono</label>
                    <input
                      type="text"
                      formControlName="telefono"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['telefono'].errors }"
                    />
                    <div *ngIf="submitted && f['telefono'].errors" class="invalid-feedback">
                      <div *ngIf="f['telefono'].errors['required']">El teléfono es requerido</div>
                    </div>
                </div>

                <div class="espacio"></div>
                
                <button type="submit" class="btn btn-primary nbsp">Guardar</button>
                <a href="#" routerLink="/proveedor/index" class="btn btn-primary">Atras</a>

            </form>
          </div>
        </div>
            
    </div>

</div>